@model n01593039Assigment3.Models.TeacherCourse
@{
    ViewBag.Title = "Update";
}

<h2>Update A Teacher Information</h2>


<form method="POST" action="/Teacher/UpdateInfo/@Model.TeacherId" name="myForm" onsubmit="return validateForm()">
    <div class="inputrow">
        <label >First Name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname" value="@Model.TeacherFname" />

    </div>
    <div class="inputrow">
        <label >Last Name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.TeacherLname" />

    </div>
    <div class="inputrow">
        <label >Employee Number:</label>
        <input type="text" id="Teacherumber" name="TeacherNumber" value="@Model.TeacherNumber" />
    </div>
    <div class="inputrow">
        <label >Salary:</label>
        
            <input id="TeacherSalary" name="TeacherSalary" value="@Model.TeacherSalary" />
        
    </div>
    <div class="inputrow">
        <label >Hire Date:</label>
        
            <input id="Hiredate" name="Hiredate" value="@Model.Hiredate" />
        
    </div>
    <div class="inputrow">
        <input type="submit" value="Update Teacher" />
    </div>
</form>
<script>
    function validateForm() {
        let x = document.forms["myForm"]["TeacherFname"].value;
        let y = document.forms["myForm"]["TeacherLname"].value;
        let z = document.forms["myForm"]["TeacherNumber"].value;
        let a = document.forms["myForm"]["TeacherSalary"].value;
        let b = document.forms["myForm"]["Hiredate"].value;

        if (x == "") {
            alert("First Name must be filled out");
            return false;
        }
        if (y == "") {
            alert("Last Name must be filled out");
            return false;
        }
        if (z == "") {
            alert("Employee number must be filled out");
            return false;
        }
        if (a == "") {
            alert("Salary must be filled out");
            return false;
        }
        if (b == "") {
            alert("Hire date must be filled out");
            return false;
        }
    }
</script>

