@model n01593039Assigment3.Models.TeacherCourse
@{
    ViewBag.Title = "Update";
}

<h2>Update A Teacher Information</h2>


<form method="POST" action="/Teacher/UpdateInfo/@Model.TeacherId">
    <div class="inputrow">
        <label >First Name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname" value="@Model.TeacherFname" />

    </div>
    <div class="inputrow">
        <label >Last Name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.TeacherLname" />

    </div>
    <div class="inputrow">
        <label >Employee Number:</label>
        <input type="text" id="Teacherumber" name="TeacherNumber" value="@Model.TeacherNumber" />
    </div>
    <div class="inputrow">
        <label >Salary:</label>
        
            <input id="TeacherSalary" name="TeacherSalary" value="@Model.TeacherSalary" />
        
    </div>
    <div class="inputrow">
        <label >Hire Date:</label>
        
            <input id="Hiredate" name="Hiredate" value="@Model.Hiredate" />
        
    </div>
    <div class="inputrow">
        <input type="submit" value="Update Teacher" />
    </div>
</form>

