@model n01593039Assigment3.Models.Class1
@{
    ViewBag.Title = "Show";
}

<h2 id="header">Show Classes Information </h2>
<p>Class Code: @Model.Classcode</p>
<p>Class Name: @Model.Classname</p>
<p> Teacher Name : @Model.TeacherFname @Model.TeacherLname</p>
<p>Start Date: @Model.StartDate</p>
<p>Finish Date: @Model.FinishDate</p>

